.launch-button {
    background-color: #2196F3; /* Blue background color */
    border: none; /* Remove button border */
    color: #FFFFFF; /* Text color */
    padding: 12px 24px; /* Add some padding */
    text-align: center; /* Center the text horizontally */
    text-decoration: none; /* Remove underline from the text */
    display: inline-block; /* Display as inline block */
    font-size: 18px; /* Set font size */
    font-weight: bold; /* Set font weight */
    letter-spacing: 1px; /* Add letter spacing */
    text-transform: uppercase; /* Convert text to uppercase */
    transition: background-color 0.3s ease; /* Add smooth transition effect */
    border-radius: 4px; /* Add rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  }
  
  .launch-button:hover {
    background-color: #0D47A1; /* Darker blue background color on hover */
  }
  
.widget {
    position: relative;
    overflow: hidden;
    /* margin: 20px; */
    height: 100%;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 5px 5px 31px rgba(204, 204, 204, 0.5),
        -5px -5px 31px rgba(255, 255, 255, 0.5);
}

.widget-container {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    /* height: 100%; */
    /* max-height: 400px; */
    justify-content: flex-start;
}

.widget-container h4 {
    font-size: 18px;
}

.widget-container span.quantity {
    font-size: large;
    font-weight: 600;
}

.widget-container span.subtext {
    font-size: medium;
    color: gray;
}

.current-campaign-widget-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list-group-item .subtext {
    font-size: smaller;
}

.contributedImage {
    width: 2rem;
    aspect-ratio: 1;
}

.ContributionTick {
    background-color: #4c8757;

    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    padding: 1.4rem;
    padding-top: 5rem;
    padding-right: 5rem;

    translate: 45% -45%;

    aspect-ratio: 1;

    display: grid;
    place-items: center;


}