.agri-link{
    text-decoration: none;
    color: inherit;
}

.agri-link:hover{
    color : inherit;
}

.store-cards{
    padding: 0 !important;
    background-color: #f1f8e9 !important;
    transition: all 0.5s;
}

.store-cards:hover{
    transform: scale(0.9);
}