.product-details-container {
    margin-left: 100px;
}

.product-details-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 1000px;
    border-right: 1px solid gray;
}

.product-title {
    text-align: left;
}

.btn-buy{
    scale: 1.3;
    border-style: ridge;
    transition: 0.2s;
}

.btn-buy:hover{
    background-color: #04c428 !important;
}

.floating { 
    animation-name: floating;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
.StarsWrapper{
    --size-of-rating-bar:30px;
    position: relative;
    width: calc(5*var(--size-of-rating-bar));
    height: var(--size-of-rating-bar);
}
.ratingStars{
    height: 100%;
    display: flex;
    align-items: center;


    mask-image: url('../../../assets/icons/star.svg');
    mask-size: var(--size-of-rating-bar) var(--size-of-rating-bar);
    mask-repeat: repeat-x;
}
.ratingStars img{
    opacity: 0.3;
}
.bg-RatingDiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    z-index: -1;
}
/* .ratingStars img{
    height: 1.5rem;

    aspect-ratio: 1;
} */
/* .ratingStars::before{
    content: '';
    background-color: yellow;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 100%;
    z-index: -1;
} */

@keyframes floating {
    0% { transform: translate(0,  1px); }
    50%  { transform: translate(0, 0px); }
    100%   { transform: translate(0, -1px); }   
}