.product-container {
    border-radius: 12px;
    margin: 10px;
    transition: all 0.3s;
    position: relative;
}

.product-container h5 {
    cursor: pointer;
}

.product-container h5 {
    cursor: pointer;
}

.product-image {
    width: 100%;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.price {
    font-size: 20px;
}

.star-product {
    border: 2px solid goldenrod;
    border-radius: 5px;
    background-color: gold;
    color: brown;
    padding: 2px;
    margin: 5px;
}

.overlay-box{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(15px);
    opacity: 0;
    border-radius: 5px;
    visibility: hidden;
    transition: 0.5s;
}

.inner{
    position: relative;
    height: 100%;
}

.product-container:hover .overlay-box{
    cursor: pointer;
    visibility: visible;
    opacity: 1;
}

.qty-text{
    animation-name: zoom;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function:  linear;
}

@keyframes zoom {
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}