.stepper-wrapper {
    /* styles of default stepper */
}

.stepper-wrapper * {
    box-sizing: border-box;
}

.stepper-wrapper .stepper-head {
    display: flex;
    position: relative;
    width: 100%;
    user-select: none;
    /* styles of inline stepper */
    /* styles of vertical stepper */
}

.stepper-wrapper .stepper-head.inline-stepper-head .stepper-step:after {
    top: 50%;
    transform: translateY(-50%);
}

.stepper-wrapper .stepper-head.inline-stepper-head .stepper-indicator,
.stepper-wrapper .stepper-head.inline-stepper-head .stepper-label {
    display: inline-block;
    vertical-align: middle;
}

.stepper-wrapper .stepper-head.inline-stepper-head .stepper-label {
    text-align: left;
    padding: 0 0.5rem;
    background: #fff;
}

.stepper-wrapper .stepper-head.vertical-stepper-head {
    flex-direction: column;
    width: auto;
}

.stepper-wrapper .stepper-head.vertical-stepper-head .stepper-step {
    display: flex;
    align-items: center;
    text-align: start;
}

.stepper-wrapper .stepper-head.vertical-stepper-head .stepper-step:after {
    content: " ";
    position: absolute;
    left: 1.5rem;
    right: auto;
    top: 2rem;
    bottom: -0.5rem;
    width: 0;
    height: auto;
    border-left: 0.125rem solid #e3e8ec;
}

.stepper-wrapper .stepper-head.vertical-stepper-head .stepper-step.rightToLeft:after {
    right: 1.5rem;
    left: auto;
}

.stepper-wrapper .stepper-head.vertical-stepper-head .stepper-label {
    padding-inline-start: 1rem;
}

.stepper-wrapper .stepper-head.vertical-stepper-head+.stepper-body {
    margin-inline-start: 3.5rem;
}

.stepper-wrapper .stepper-head .stepper-step {
    position: relative;
    text-align: center;
    padding: 0.5rem;
    flex-basis: 100%;
}

.stepper-wrapper .stepper-head .stepper-step.rightToLeft:after {
    left: -50%;
}

.stepper-wrapper .stepper-head .stepper-step.is-complete .stepper-indicator-info {
    border-color: #4caf50;
    background-color: #4caf50;
    cursor: pointer;
}

.stepper-wrapper .stepper-head .stepper-step.is-complete .stepper-label {
    color: #4caf50;
}

.stepper-wrapper .stepper-head .stepper-step.is-active .stepper-indicator-info {
    border-color: #627c90;
    background-color: #627c90;
    cursor: initial;
}

.stepper-wrapper .stepper-head .stepper-step.is-active .stepper-label {
    color: #627c90;
}

.stepper-wrapper .stepper-head .stepper-step.is-warning .stepper-indicator-info {
    border-color: #f1c40f;
    background-color: #f1c40f;
}

.stepper-wrapper .stepper-head .stepper-step.is-warning .stepper-label {
    color: #f1c40f;
}

.stepper-wrapper .stepper-head .stepper-step.is-error .stepper-indicator-info {
    border-color: #e95a4b;
    background-color: #e95a4b;
}

.stepper-wrapper .stepper-head .stepper-step.is-error .stepper-label {
    color: #e95a4b;
}

.stepper-wrapper .stepper-head .stepper-step:after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 1.5rem;
    width: 100%;
    height: 0.125rem;
    background-color: #e3e8ec;
    z-index: 1;
}

.stepper-wrapper .stepper-head .stepper-step:last-child:after {
    display: none;
}

.stepper-wrapper .stepper-head .stepper-indicator {
    position: relative;
    display: block;
    z-index: 2;
}

.stepper-wrapper .stepper-head .stepper-indicator-info {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid #e3e8ec;
    border-radius: 50%;
    background-color: #e3e8ec;
    font-size: 1rem;
    line-height: 2.5rem;
    text-align: center;
    color: #fff;
    z-index: 2;
}

.stepper-wrapper .stepper-head .stepper-indicator-info .stepper-tick {
    width: 14px;
    fill: #fff;
}

.stepper-wrapper .stepper-head .stepper-label {
    position: relative;
    display: block;
    margin: 0.5rem 0;
    color: #cfd7de;
    z-index: 2;
}

.stepper-wrapper .stepper-body {
    flex: 1;
    min-height: 100px;
    padding: 10px 0;
}

.stepper-wrapper .stepper-footer {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.stepper-wrapper .stepper-footer-btn {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    cursor: pointer;
    border: none;
    outline: none;
}

.stepper-wrapper .stepper-footer-btn.primary {
    color: #fff;
    /* background-color: #1976d2; */
}

.stepper-wrapper .stepper-footer-btn.success {
    color: #fff;
    /* background-color: #4caf50; */
}

.stepper-wrapper .stepper-footer-btn:disabled {
    color: rgba(0, 0, 0, 0.26);
    background-color: rgba(0, 0, 0, 0.12);
    cursor: not-allowed;
}







/* .PlanAssociateContainer{

} */
.UserPlans{
    overflow-y: hidden;
    overflow-x: scroll;
    border-radius: 10px;
    scroll-snap-type: x mandatory;
    box-shadow: inset 0px 0px 20px -10px black;
}

.UserPlans::-webkit-scrollbar{
    /* background-color: var(--c4); */
    background-color: transparent;
    height: 1rem;
}
.UserPlans::-webkit-scrollbar-thumb{
    border:none;
    border-radius: 50px;
    background-color: gray;
}



.EachUserPlan{
    cursor: pointer;
    flex-grow: 1;
    transition-duration: 0.3s;
    scroll-snap-align: center;
    border: solid 4px transparent;
}
.newEachPlanShadow{
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.9) !important;
}
.EachUserPlan:hover{
    scale: 1 1.05;
}
.EachUserPlan .borderE{
    border: solid 4px green;
}
.EachUserPlan .borderS{
    border: solid 4px var(--cb0);
}

.createPledgeContainer{
    padding: 1rem;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    position: relative;
    min-height: 55vh;
    box-shadow: inset 0px 0px 20px -10px black;
    border-radius: 10px ;
}
.eachPledgePlan{
    min-width: 65dvw;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.9) !important;
    position: relative;
    
}

.createNewPlanDiv{
    display: flex;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1rem;
    margin-left: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    /* font-size: 2rem; */
    user-select: none;
    transition-duration: 0.3s;
}
.createNewPlanDivIcon .PlusIcon{
    font-size: 50rem;
}
.createNewPlanDivIcon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.createNewPlanDiv:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.createNewPlanDiv .LockIcon{
    font-size: 10rem;
}
.controlsButtonForPledgePlans{
    position: absolute;
    padding: 0.5rem;
    bottom:3%;
    right: 3%;
}
.disableFormContainer span{
    color: var(--c5);
    font-size: 10rem;
}
.disableFormContainer{
    background-color: rgba(128, 128, 128, 0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.TopSwipeInstruct{
    position: fixed;
    height: 2rem;
}
.animateSwipe:nth-child(1){--delay:0.3s}
.animateSwipe:nth-child(2){--delay:0.6s}
.animateSwipe:nth-child(3){--delay:0.9s}

.animateSwipe:nth-child(4){--delay:0.9s}
.animateSwipe:nth-child(5){--delay:0.6s}
.animateSwipe:nth-child(6){--delay:0.3s}
.animateSwipe{
    animation-name: animateSwipe;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-delay: var(--delay);
    animation-iteration-count: infinite;
}
@keyframes animateSwipe {
    to{
        color: gray;
    }
}