.bg-dashboard {
    background-image: url(../../assets/backgrounds/stacked-peaks.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
}

.dashboard-container {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    width: 100%;
    height: 100%;
    min-height: 84vh;
}

.profile-section {
    background-color: var(--c3);
    color: var(--black-text);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--c1);
    border-right: 2px solid var(--c1);
}

.profile-image-container img {
    border-radius: 50%;
    aspect-ratio: 1;
    max-width: 80%;
    border: 2px solid var(--c4);
    margin: 20px 20px 5px;
}

.details-section-element {
    margin: 10px;
}


.widget {
    border-radius: 11px;
    background: #ebebeb;
    box-shadow:  8px 8px 16px #cacaca,
                -8px -8px 16px #ffffff;
    min-width: 300px;
    height: 300px;
    margin: 20px;
}

.no-skeleton-widget:hover {
    animation: bringFwd 500ms linear;
    z-index: 999;
}

@keyframes bringFwd {
    from {
        z-index: 0;
    }
    to {
        z-index: 12;
    }
}