.Camplink{
    color: cornflowerblue;
    text-decoration: underline;
}
.Camplink:hover{
    cursor: pointer;
    color: purple;
    text-decoration: none;
}
.AddressClass:hover{
    cursor: pointer;
}