.management-widgets-container{
    background-color: #ebebeb;
    padding: 2rem 10rem;
    padding-bottom: 10rem;
}
.management-widgets {
    min-height: 100vh;
    padding-bottom: 20vh;
}
/* div[widget-msp]{
    background-color: black;
} */

.skeleton-widget {
    background: linear-gradient(270deg, #ecebeb, #f3f3f3);
    background-size: 400% 100%;

    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 0%}
    50%{background-position:100% 0%}
    100%{background-position:0% 100%}
}