.loader * {

    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.loader svg {
    animation-name: loaderBounce;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.loader svg .cls-9,.cls-8{
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation-name: loadingLogo;
}
.loader polygon{
    
    opacity: 0;

    animation-name: loadingLogoPolygon;
}
.ContainerDiv{
    height: 500px;
    width: 500px;

}
@keyframes loaderBounce {
    to{
        translate: 0% -20%;
    }
}

@keyframes loadingLogo {
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes loadingLogoPolygon {
    to{
        opacity: 1;
    }
}