.planning-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.planning-header {
    text-align: left;
}

.planning-header h3 {
    font-weight: bold;
}

.current-plans {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.plan {
    padding: 15px;
    min-width: 300px;
    /* width: 50%; */
    margin: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    text-align: left;
}

.plan-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.requirements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-right: 1px solid lightgray;
    margin-right: 10px;
}

.requirements td,
th {
    vertical-align: top;
}

.plan-details td,
th {
    padding: 5px;
}

.plan-details .action-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.plan-details .action-center button {
    margin: 10px;
}

.create-plan-form .form-input {
    width: 80%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.requirement-form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.requirement-form-group .form-input[name="quantity"] {
    width: 120px;
    height: 37px;
}

.requirement-form-group .form-input[name="category"] {
    width: 120px;
    height: 37px;
}

.requirement-form-group .form-input[name="estCost"] {
    width: 160px;
}

.requirement-form-group .form-input[name="estSale"] {
    width: 160px;
}

.req-action-btns {
    margin: 10px;
}

/* CSS */
.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 150px;
    height: 60px;
    will-change: transform;
}

.button-28:disabled {
    cursor: not-allowed;
}

.button-28:hover {
    color: var(--white-text);
    background-color: var(--c2);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.delete-plan:hover {
    background-color: var(--error-background);
    color: var(--error-text);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

/* TOOLTIP */
/* .tooltip {
    font-size: 16px;
    font-weight: normal;
    margin-top: 2px;
    position: relative;
}

.tooltip:hover {
    cursor: help;
}

.tooltip-spacing {
    height: 20px;
    margin: 8px;
    position: relative;
    width: 20px;
}

.tooltip-bg1 {
    background-color: #000;
    border-radius: 10px;
    content: " ";
    display: flex;
    height: 20px;
    position: absolute;
    top: 0;
    width: 20px;
    z-index: 999
}

.tooltip-bg2 {
    background-color: #fff;
    border-radius: 8px;
    content: " ";
    display: flex;
    height: 16px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 16px;
}

.tooltip-text {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    position: relative;
    text-align: center;
    width: 20px;
}

.info {
    color: #64686b;
}

.info-popper {
    z-index: 999;
}

.popup-bg {
    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16)) drop-shadow(0 3px 6px rgba(0, 0, 0, 0.23));
    position: absolute;
    z-index: 10;
    top: -126px; 
}
.popup-outline {
    position: absolute;
    z-index: 11;
     top: -126px; 
}

.popup-text {
    border-radius: 12px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    left: 8px;
    opacity: 0;
    padding: 12px 16px;
    position: absolute;
    top: -117px; 
    transition: opacity 240ms 120ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 292px;
    z-index: 12;
}

.tooltip:hover~.popup-text {
    display: block;
}

.popup-bg {
    opacity: 0;
    transition: opacity 240ms 120ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-outline-left {
    stroke-dasharray: 0 426px;
    stroke-dashoffset: 1px;
    transition: stroke-dasharray 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup-outline-right {
    stroke-dasharray: 352px 352px;
    stroke-dashoffset: -352px;
    transition: stroke-dashoffset 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tooltip:hover~.popup-text {
    opacity: 1;
}

.tooltip:hover~.popup-bg {
    opacity: 1;
    transition: opacity 240ms 120ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tooltip:hover~.popup-outline .popup-outline-left {
    stroke-dasharray: 426px 426px;
    transition: stroke-dasharray 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tooltip:hover~.popup-outline .popup-outline-right {
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 300ms cubic-bezier(0.4, 0, 0.2, 1);
} */


/* TOOLTIP STYLE 2 */
.item-hints .hint {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: help;
}

.item-hints .hint-dot {
    z-index: 3;
    border: 1px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: block;
    -webkit-transform: translate(-0%, -0%) scale(0.95);
    transform: translate(-0%, -0%) scale(0.95);
    -webkit-animation: home_hero_item_hints_border 2s linear infinite;
    animation: home_hero_item_hints_border 2s linear infinite;
}

@-webkit-keyframes home_hero_item_hints_border {

    0%,
    100% {
        border-color: rgba(0, 0, 0, 0.6);
        -webkit-transform: translate(-50%, -50%) scale(0.95);
        transform: translate(-0%, -0%) scale(0.95);
    }

    50% {
        border-color: rgba(0, 0, 0, 0.3);
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-0%, -0%) scale(1);
    }
}

@keyframes home_hero_item_hints_border {

    0%,
    100% {
        border-color: rgba(0, 0, 0, 0.6);
        -webkit-transform: translate(-50%, -50%) scale(0.95);
        transform: translate(-0%, -0%) scale(0.95);
    }

    50% {
        border-color: rgba(0, 0, 0, 0.3);
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-0%, -0%) scale(1);
    }
}

.item-hints .hint[data-position="1"] .hint-content {
    top: 85px;
    left: 50%;
    margin-left: 56px;
}

.item-hints .hint-content {
    font-family: Hind-Light;
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border: 5px solid orange;
    width: 300px;
    position: absolute;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
    transition: opacity 0.7s ease, visibility 0.7s ease;
    pointer-events: none;
    visibility: hidden;
    pointer-events: none;
}

.item-hints .hint:hover .hint-content {
    width: 300px;
    position: absolute;
    z-index: 5;
    opacity: 1;
    visibility: visible !important;
    -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
    transition: opacity 0.7s ease, visibility 0.7s ease;
    pointer-events: none;
    visibility: hidden;
    pointer-events: none;
}

.item-hints .hint-content::before {
    width: 0px;
    bottom: 0;
    left: 0;
    content: "";
    background-color: #000;
    height: 1px;
    position: absolute;
    transition: width 0.5s;
}

.item-hints .hint:hover .hint-content::before {
    width: 180px;
    transition: width 0.5s;
}

.item-hints .hint-content::after {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    bottom: 0;
    left: 0;
    width: 80px;
    content: "";
    background-color: #000;
    height: 1px;
    position: absolute;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.item-hints .hint:hover .hint-content::after {
    opacity: 1;
    visibility: visible;
}

.item-hints .hint[data-position="4"] .hint-content {
    bottom: 70px;
    left: 50%;
    margin-left: 56px;
}