@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

.bg-img{
    background-image: url('../../assets/backgrounds/bg.jpg');
    height: 260vh;
    background-size: cover;
}

.hero-sec{
    margin-top: 150px;
}

.headings{
    font-size: 60px !important;
    color: #40513b;
}
/* 
h2{
    color: #40513b;
} */

.img-hero{
    text-align: right;
    position: relative;
}

.img-hero-main{
    position: relative;
    z-index: 20;
}

.creative-shape{
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 4s;
    height: auto;
    z-index: 15;
    left: -4%;
}


.creative-shape-2{
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 4s;
    height: auto;
    z-index: 7;
    left: -1%;
}

img{
    max-width: 100%;
    height: auto;
}

.features{
    position: relative;
}

.feat-img{
    position: relative;
    left: -200px;
    height: 100%;
    transition: all 2s;
    border: solid green;
    overflow: hidden;
    /* height: 30%; */
    /* top: 90px; */
}
.feat-img img{
    object-fit: cover;
}
.text-left{
    text-align: left !important;
    margin: 30px;
}

.text-right{
    text-align: right !important;
    margin: 30px;
}


.features-shape-img{
    position: absolute;
    top: 40px;
    z-index: -1;
}
.BorderAnimation{
    border: solid green;
    background-color: green;
    opacity: 30%;
    position: absolute;
    border-radius: 30% 45% 50% 40%;
    width: 100%;
    aspect-ratio: 1;
    z-index: -1;
    rotate: 0deg;
}
.preFade{
    opacity: 0;
    transition: all 1s ease-in;
    translate: -5%;
}
.preFadeRight{
    opacity: 0;
    transition: all 1s ease-in;
    translate: 5%;
}
.preFadeBottom{
    opacity: 0;
    transition: all 1s ease-in;
    translate: 0% -5vh;
}
.preFadeUp{
    opacity: 0;
    transition: all 1s ease-in;
    translate: 0% 5vh;
}
.fadeIn{
    opacity: 1;
    translate: 0%;
}
.rotateIn{
    transition: all 3s ease-in-out;
    rotate: 270deg;
}
.loopRotate{
    animation-name: loopRotateAnimate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes loopRotateAnimate {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}