@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

.home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(221, 221, 221);
    background: linear-gradient(144deg, rgba(221, 221, 221, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.section h1 {
    font-family: "Tilt Warp";
    font-size: 50px;
    text-align: left;
}

.section h2 {
    font-family: "Tilt Warp";
    font-size: 35px;
    text-align: left;
}

.section .subtext {
    font-family: sans-serif;
    font-size: 20px;
    color: grey;
    text-align: left;
}

.section img {
    width: 80%;
    border-radius: 12px;
}

.left-img {
    padding: 0px;
    display: flex;
    justify-content: left;
}

.left-img img {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.right-img {
    padding: 0px;
    display: flex;
    justify-content: right;
}

.right-img img {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.left,
.right {
    width: 50%;
    padding-top: 20px;
}

.left .section-text {
    margin-left: 20%;
}

.right .section-text {
    margin-left: 5%;
}

.section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}