.bg-login {
    background-image: url(../../assets/backgrounds/plantation.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: -10;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: -9;
}

.login-container {
    background-color: var(--c2);
    width: fit-content;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
    padding: 5px 20px 10px;
    margin-top: 100px;
}

#login {
    display: flex;
    flex-direction: column;
}

.form-input {
    border-radius: 5px;
    height: 40px;
    margin: 5px;
    font-size: medium;
    transition-duration: 300ms;
    padding: 2px;
}

.form-input[type="submit"] {
    cursor: pointer;
    color: #fff;
    background-color: green;
}

.form-input[type="submit"]:disabled {
    background-color: gray;
}