.bg-login {
    background-image: url(../../assets/backgrounds/plantation.jpg);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    background-position: center;
    background-size: cover;
    z-index: -10;
    overflow: hidden;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background-position: center;
    background-size: cover;
    z-index: -9;
    overflow: hidden;
}
.login-body{
    height: 100vh;
    position: absolute;
    top: 0%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.login-container {
    background-color: var(--c2);
    position: relative;
    padding: 50px;
}

.eye-icn{
    position: absolute;
    top: 3px;
    right: 3px;
    opacity: 0.7;
    transform: scale(0.8);
}

.eye-icn:hover{
    cursor: pointer;
}

/* .login-container label{
    font-size: 15px;
    position: relative;
    bottom: 20%;
    padding-left: 10px;
    color: #000;
    transition: 0.3s;
} */

/* input:valid ~ label,input:focus ~ label{
    transition: 0.3s;
    transform: translateX(-200%) !important;
    color: #fff;
}

input:focus{
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
} */