.bg-login {
    background-image: url(../../assets/backgrounds/plantation.jpg);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    background-position: center;
    background-size: cover;
    z-index: -10;
    overflow: hidden;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background-position: center;
    background-size: cover;
    z-index: -9;
    overflow: hidden;
}
.login-body{
    height: 100vh;
    position: absolute;
    top: 0%;
    margin-left: 50%;
    transform: translateX(-50%);
}
.login-container {
    background-color: var(--c2);
}