.bg-signup {
    background-image: url(../../assets/backgrounds/plantation.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: -10;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: -9;
}

.signup-container {
    background-color: var(--c2);
    width: fit-content;
    min-width: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
    padding: 5px 20px 10px;
    margin-top: 100px;
}

#signup {
    display: flex;
    flex-direction: column;
}