.bg-signup {
    background-image: url(../../assets/backgrounds/plantation.jpg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: -10;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: -9;
}

.signup-container {
    background-color: var(--c2);
    /* width: fit-content; */
    /* width: 30%;
    min-width: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 12px; */
    padding: 50px;
    /* margin-top: 100px; */
}

/* .signup-container label{
    font-size: 15px;
    position: relative;
    bottom: 10%;
    padding-left: 10px;
    color: #000;
    transition: 0.3s;
}

input:valid ~ label,input:focus ~ label{
    transition: 0.3s;
    transform: translateX(-70%) !important;
    color: #fff;
}

input:focus{
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
} */

#signup {
    display: flex;
    flex-direction: column;
}