body {
  margin: 0;
  max-width: 100dvw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: overlay;
}

.theme-dark {
  --c1: #40513B;
  --c2: #609966;
  --c3: #9DC08B;
  --c4: #EDF1D6;
  /* --c5: #8390FA; */
  --white-text: #ececec;
  --black-text: #0a0a0a;
  --error-text: #c62828;
  --error-background: #fbe9e7;
  --warning-text: goldenrod;
  --warning-background: #ffcc0057;
  --gradient: linear-gradient(to right, #d99e38, #ffcb74);
}

.theme-light {
  --c1: #40513B;
  --c2: #609966;
  --c3: #9DC08B;
  --c4: #EDF1D6;
  --white-text: #ececec;
  --black-text: #0a0a0a;
  --error-text: #c62828;
  --error-background: #fbe9e7;
  --warning-text: goldenrod;
  --warning-background: #ffeca257;
  --gradient: linear-gradient(to right, #d99e38, #ffcb74);
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.link:hover {
  color: inherit;
}

.error-message {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--error-background);
  color: var(--error-text);
  border: 1px solid var(--error-text);
  margin: 5px;
}

.warning-message {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--warning-background);
  color: var(--warning-text);
  border: 1px solid var(--warning-text);
  margin: 5px;
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}