:root{
  --c0: #40513B;
  --c1: #5d9900;
  --c2: #609966;
  --c3: #9DC08B;
  --c4: #EDF1D6;
  --white-text: #ececec;
  --black-text: #0a0a0a;
  --error-text: #c62828;
  --error-background: #fbe9e7;
  --warning-text: goldenrod;
  --warning-background: #ffeca257;
  --gradient: linear-gradient(to right, #d99e38, #ffcb74);

  --new-color1: #a7cf2f;
  --new-color2: #6cb119;
  --new-color3: #106812;
  
  --new-color-Blue1: #b0d8ff;
  --new-color-Blue2: #4c76b2;
  --new-color-Blue3: #003580;
}
body {
  margin: 0;
  background-color: #ebebeb !important;
  max-width: 100dvw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.theme-dark {
  --c0: #40513B;
  --c1: #5d9900;
  --c2: #609966;
  --c3: #9DC08B;
  --c4: #EDF1D6;
  /* --c5: #8390FA; */
  --white-text: #ececec;
  --black-text: #0a0a0a;
  --error-text: #c62828;
  --error-background: #fbe9e7;
  --warning-text: goldenrod;
  --warning-background: #ffcc0057;
  --gradient: linear-gradient(to right, #d99e38, #ffcb74);
}

.theme-light {
  --c0: #40513B;
  --c1: #5d9900;
  --c2: #609966;
  --c3: #9DC08B;
  --c4: #EDF1D6;
  --white-text: #ececec;
  --black-text: #0a0a0a;
  --error-text: #c62828;
  --error-background: #fbe9e7;
  --warning-text: goldenrod;
  --warning-background: #ffeca257;
  --gradient: linear-gradient(to right, #d99e38, #ffcb74);
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.link:hover {
  color: inherit;
}

.error-message {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--error-background);
  color: var(--error-text);
  border: 1px solid var(--error-text);
  margin: 5px;
}

.warning-message {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--warning-background);
  color: var(--warning-text);
  border: 1px solid var(--warning-text);
  margin: 5px;
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-neumorph{
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background: #e0e0e0;
  outline: none;
  box-shadow:  5px 5px 20px #cacaca,
              -5px -5px 20px #f6f6f6;
}
.input-neumorph:focus{
  outline: #e0e0e0;
  box-shadow:5px 5px 20px #cacaca,
            -5px -5px 20px #f6f6f6, 
            inset 5px 5px 20px #cacaca,
            inset -5px -5px 20px #f6f6f6;
}

.neumorph{
  border-radius: 11px;
  background: #ebebeb;
  box-shadow:  8px 8px 16px #cacaca,
              -8px -8px 16px #ffffff;
}
.neumorphInto{
  border-radius: 11px;
  background: #ebebeb;
  box-shadow: inset 11px 11px 22px #d4d4d4,
            inset -11px -11px 22px #ffffff;
}
.neumorph-btn-green{
  background-color: var(--c3);
  border-radius: 6px;
  border: solid 1px var(--c1);
  box-shadow:  8px 8px 16px #cacaca,
              -8px -8px 16px #ffffff;
}