.floating-menu-container {
    border-radius: 10px;
    min-width: 300px;
    width: 40%;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #f4f5f7ea;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    color: var(--black-text);
    border: 2px solid var(--c5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.floating-menu-container ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.floating-menu-container ul li {
    padding: 10px;
    padding-bottom: 0px;
    position: relative;
    border-radius: 5px;
    bottom: 0px;
    cursor: pointer;
    transition-duration: 400ms;
    flex-grow: 1;
}

.floating-menu-container ul li:hover {
    background-color: var(--c5);
    color: var(--white-text);
    scale: 1.05;
    bottom: 15px;
    /* font-weight: 600; */
}

.floating-menu-container ul li img {
    width: 30px;
    margin: 5px;
}