.floating-menu-container {
    border-radius: 12px;
    min-width: 300px;
    width: 40%;
    position: fixed;
    bottom: 30px;
    margin-left: 50%;
    transform: translateX(-50%);
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
    color: var(--black-text);
    border: 2px solid #429017;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.floating-menu-container ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.floating-menu-container ul li {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 400ms;
}

.floating-menu-container ul li:hover {
    background-color: #429017;
    color: var(--white-text);
    font-weight: 600;
}

.floating-menu-container ul li img {
    width: 30px;
    margin: 5px;
}