.private-nav {
    background-color: var(--c4);
    height: fit-content;
    position: relative;
    top: 0px;
    z-index: 999;
}

.links-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    list-style: none;
}

.nav-element {
    width: 200px;
    padding: 10px;
    color: var(--black-text);
}

.nav-element-selected {
    color: var(--white-text);
    background-color: var(--c1);
}

.nav-element-btn {
    border-radius: 5px;
    border: 2px solid var(--black-text);
    color: var(--black-text);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    margin: 2px;
    transition-duration: 300ms;
    cursor: pointer;
}

.nav-element-btn:hover {
    background-color: var(--c3);
    color: var(--black-text);
}
.logoConsole{
    color: var(--white-text);
    background-color: var(--c1);
    margin: 0px;
    padding: 1rem;
}
.hamButtonNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.8rem;
    text-align: start;
    padding: 1rem;
}
.dropDownNav{
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}
.showDropDownNav{
    height: 220px !important;
}
/* .LogoutButtonNav{
    position: absolute;
    top: calc(1.275rem + 0.3vw + 13px);
    padding: 4px;
    right: 0%;
} */

@media screen and (max-width: 768px) {
    .private-nav {
        position: static;
    }
}